*,
*::before,
*::after {
    box-sizing: border-box;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-size: 16px;
    font-family: "Nunito", serif;
    color: #F2F3F7;
}

/* Typography */

.app-title {
    font-family: "Lilita One", serif;
    color: #F2F3F7;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); 
}

.idea-container {
    font-size: 1.125em;
    /* 18px*/
    font-weight: 700;
    /* bold */
}

button {
    font-family: inherit;
    cursor: pointer;
}

/* Layout */

.container {
    width: 85vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.app-title {
    margin: 2em 0 0 0;
}

.idea-container {
    margin: 1em 0 1em 0;
}

.generate-idea-btn {
    font-size: 1.5rem;
    background-color: #e9ebef;
    color: #B0409E;
    border: none;
    border-radius: 10px;
    padding: 0.5em 1em;
    margin: 0.5em 1em;
    box-shadow: 0 5px #B0409E;


}

.generate-idea-btn:active {
    box-shadow: 0 4px #9a3789;
    transform: translateY(2px);
}

.generate-idea-btn:hover,
.generate-idea-btn:focus {
    background-color: #e0e2e6;
}